.logo-page-header {
    display: block;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway', sans-serif;
    @include font(26px, 700, 31px);  
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-theme-light {
    color: #000000;
}

.logo-theme-dark {
    color: #FFFFFF;
}